
.rhsw .rwindow{
    display: none;
}

.rhsw .rwindow.open{
    display: block;
    position: relative;
}

.rhsw .rwindow.close{
    display: none;
}

#x{
    position: absolute;
    background: red;
    color: white;
    top: 3px;
    right: 45px;
}
