
.rhsw .rwindow{
    display: none;
}

.rhsw .rwindow.open{
    display: block;
    position: relative;
}

.rhsw .rwindow.close{
    display: none;
}

#x{
    position: absolute;
    background: #231e1e47;
    color: #b660ec;
    top: 3px;
    right: 48px;
    width: 19px;
}
